# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/library-frontend/dist
/library-frontend/tmp
/library-frontend/out-tsc
/library-frontend/bazel-out

# Node
/library-frontend/package-lock.json
/library-frontend/node_modules
/library-frontend/npm-debug.log
/library-frontend/yarn-error.log

# IDEs and editors
/library-frontend/.idea/
/library-frontend/.project
/library-frontend/.classpath
/library-frontend/.c9/
/library-frontend/*.launch
/library-frontend/.settings/
/library-frontend/*.sublime-workspace

# Visual Studio Code
/library-frontend/.vscode/*
/library-frontend/.vscode/settings.json
/library-frontend/.vscode/tasks.json
/library-frontend/.vscode/launch.json
/library-frontend/.vscode/extensions.json
/library-frontend/.history/*

# Miscellaneous
/library-frontend/.angular/cache
/library-frontend/.sass-cache/
/library-frontend/connect.lock
/library-frontend/coverage
/library-frontend/libpeerconnection.log
/library-frontend/testem.log
/library-frontend/typings

# System files
.DS_Store
Thumbs.db

# .NET
/library-backend/bin/
/library-backend/obj/
/library-backend/*.user
/library-backend/*.userosscache
/library-backend/*.sln.docstates
/library-backend/*.suo
/library-backend/*.sln.cache
/library-backend/project.lock.json
/library-backend/project.fragment.lock.json
/library-backend/artifacts/
/library-backend/.vs/
/library-backend/.vscode/
/library-backend/appsettings.Development.json
/library-backend/appsettings.Local.json
/library-backend/*.db
/library-backend/*.db-shm
/library-backend/*.db-wal

# Visual Studio Code
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.history/*